.posts {
  list-style-type: none;
  margin: 0;
}

h1 {
  font-family: "M-E";
  letter-spacing: 1px;
}

.post {
  margin: 1rem 0;

  a {
    color: #000;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: rgb(209, 209, 209);
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
