.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: whitesmoke;

  h1 {
    margin-bottom: 0;
  }
}

.title-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #0c0c0c;
  font-family: "M-E";

  h1 {
    font-family: inherit;
    font-size: 2rem;
    margin-bottom: 0;
    letter-spacing: 2px;
  }

  h2 {
    font-family: inherit;
    font-size: 1rem;
    color: #292929;
    margin-top: 0.2rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
  }
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.5rem;
  text-decoration: none;
  font-family: "M-E";
}

.nav-item:hover {
  color: #666666;
  border-bottom: 3px solid #666666;
}

.active-nav-item {
  color: #333333;
  border-bottom: 3px solid #323ff0;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .title-link {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .title-link {
    h1 {
      font-size: 1.4rem;
    }
  }
  .nav-item {
    margin-right: 1rem;
  }
}
